<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <style type="text/css">
        .wrapper {
            margin: 0 auto;
            padding: 40px;
            max-width: 800px;
        }
        .table {
            margin: 0 0 40px 0;
            width: 100%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            display: table;
        }


    </style>

</head>
<body>
    <div class="wrapper">
        <div class="table">

            <div class="row">
                <div class="cell">
                    First Name
                </div>
                <div class="cell">
                    {{ res.guest.first_name }}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Last Name
                </div>
                <div class="cell">
                    {{ res.rguest.last_name}}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Phone no
                </div>
                <div class="cell">
                    {{ res.guest.phone }}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    E-Mail
                </div>
                <div class="cell">
                    {{ res.guest.email }}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    city
                </div>
                <div class="cell">
                    {{ res.guest.city }}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Room
                </div>
                <div class="cell">
                     {{ res.room.no }} in Guest House

                </div>
            </div>
            <div class="row">
                <div class="cell">
                    CheckIn
                </div>
                <div class="cell">
                     {{ res.checkIn }}

                </div>
            </div>

            <div class="row">
                <div class="cell">
                    CheckOut
                </div>
                <div class="cell">
                     {{ res.checkOut }}

                </div>
            </div>

</body>
</html>