<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>


</head>
<body>
<table>



            <tr>
                <td>
                    First Name
                </td>
                <td>
                    {{ res.guest.first_name }}
                </td>
            </tr>

            <tr>
                <td>
                    Last Name
                </td>
                <td>
                    {{ res.guest.last_name}}
                </td>
            </tr>
            <tr>
                <td>
                    Phone no
                </td>
                <td>
                    {{ res.guest.phone }}
                </td>
            </tr>
            <tr>
                <td>
                    E-Mail
                </td>
                <td>
                    {{ res.guest.email }}
                </td>
            </tr>
            <tr >
                <td>
                    city
                </td>
                <td>
                    {{ res.guest.city }}
                </td>
            </tr>
            <tr>
                <td>
                    Room No..
                </td>
                <td>
                     {{ res.room.no }} in Guest House

                </td>
            </tr>
            <tr>
                <td>
                    CheckIn
                </td>
                <td>
                     {{ res.checkIn }}

                </td>
            </tr>

            <tr>
                <td>
                    CheckOut
                </td>
                <td>
                     {{ res.checkOut }}

                </td>
            </tr>




</table>

<br>
<br>




</body>
</html>