{% extends 'guest/base.html' %}

{% block content %}
<div class="wrap">
    <form  method="post" action = "">
        {% csrf_token %}
      <div class="fields"> Username <br><br> {{ form.username }}</div>


      <div class="fields"> Password <br><br>
           <div class = 'error1' >
             {% if error1 %}
        <p style="color: red;">
            Please enter password of atleast 8 characters or more.
        </p>
        {% endif %}
        </div>
          {{ form.password1 }}
      </div>



      <div class="fields"> Repeat Password <br><br>
          <div class="error2">
            {% if error2 %}
        <p style="color: red;">
            Please enter confirm password (same as password)
        </p>
        {% endif %}
              </div>
          {{ form.password2 }} </div>

      <input class="button-custom" type="submit" value="REGISTER">
    </form>
  </div>
{% endblock content %}

{% block more_links %}
    <a href="{% url 'guest:login' %}">Login</a>
    <a href="{% url 'guest:register' %}">Register</a>
{% endblock more_links %}