{% extends 'guest/base.html' %}
<!--<div class="hello">-->
<!--{% block hello %}-->

<!--<div class="jumbotron" style="height:auto;">-->
  <!--<h1 class="display-4">Hello, world!</h1>-->
<!--</div>-->
<!--{% endblock hello %}-->

<!--</div>-->


{% block content %}

<div class="wrap">
    <a class="button-custom" href="{% url 'guest:register' %}">
        Register
    </a>
    <a class="button-custom" href="{% url 'guest:login' %}">
        Login (Guests)
    </a>

  </div>

{% endblock content %}


{% block more_links %}
    <!--<a href="{% url 'login' %}">Login</a>-->
    <!--<a href="{% url 'reg_form' %}">Register</a>-->
{% endblock more_links %}
