
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrap1">
    <form action="" method="post">
        {% csrf_token %}
      <div class="fields"> Leave Start date <br><br> {{ form.start_date }}</div>
      <div class="fields"> Leave End Date <br><br> {{ form.end_date }}</div>
      <div class="fields"> {{ form.reason|as_crispy_field }}</div>
        <!--<div class="fields">{{ form|crispy }}</div>-->
      <input class="button-custom" type="submit" value="Apply Leave">
    </form>
  </div>
{% endblock content %}


{% block more_links %}
    <a href="{% url 'student_profile' %}">
            Profile
        </a>
    <a href="{% url 'edit' %}">
            Update Details
        </a>
        <a href="{% url 'select' %}">
            Select a Room
        </a>
        <a href="{% url 'logout' %}">
            Logout
        </a>
{% endblock more_links %}