{% extends 'base.html' %}

{% block content %}

    <div class="wrapper">
        <div class="table">

            <div class="row">
                <div class="cell">
                    Name
                </div>
                <div class="cell">
                    {{ student.student_name }}
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="cell">-->
                    <!--Father's Name-->
                <!--</div>-->
                <!--<div class="cell">-->
                    <!--{{ student.father_name }}-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="cell">
                    Enrollment Number
                </div>
                <div class="cell">
                    {{ student.enrollment_no }}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Course
                </div>
                <div class="cell">
                    {{ student.course.code }}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Date of birth (yyyy-mm-dd)
                </div>
                <div class="cell">
                    {{ student.dob }}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Gender
                </div>
                <div class="cell">
                    {{ student.gender }}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Room
                </div>
                <div class="cell">
                    {% if student.room_allotted %} {{ student.room }}
                    {% else %} Not Allotted
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Dues
                </div>
                <div class="cell">
                    {% if student.no_dues %} <div style="color: green">No Dues</div>
                    {% else %} <div style="color: red">Unpaid Dues</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if student.room_allotted %}
            <a class="button-custom" href="{% url 'select' %}">
           Update your Room
        </a>
        {% else %}
        <a class="button-custom" href="{% url 'select' %}">
            Select a Room
        </a>
        {% endif %}
    </div>

    <h2 style = "text-align: center; color: blue ;" > Previous Leave Requests</h2>
    {% if leaves %}
    <div class="wrapper">
        <div class="table">

            <div class="row header">
                <div class="cell">
                    Start Date
                </div>
                <div class="cell">
                    End Date
                </div>
                <div class="cell">
                    Reason
                </div>
                <div class="cell">
                    Accepted/Rejected
                </div>


            </div>
            {% for leave in leaves %}
                <div class="row">
                    <div class="cell">
                        {{leave.start_date}}
                    </div>
                    <div class="cell">
                        {{leave.end_date}}
                    </div>
                    <div class="cell">
                        {{leave.reason}}
                    </div>

                    <div class="cell">
                        {% if leave.accept %} &#10004; {% elif leave.reject %} &#10008; {% else %} - {% endif %}
                    </div>


                 </div>
            {% endfor %}



        </div>

    </div>
    {% endif %}


{% endblock content %}


{% block more_links %}
    <a href="{% url 'edit' %}">
            Update Details
        </a>
         {% if student.room_allotted %}
        <a href="{% url 'select' %}">
            Update Room
        </a>
        {% else %}
        <a href="{% url 'select' %}">
            Select a Room
        </a>
        {% endif %}

        <a href="{% url 'repair' %}">
            Room Maintenance
        </a>



        <a href="{% url 'leave_status' %}">
            Apply Leave
        </a>
        <a href="{% url 'logout' %}">
            Logout
        </a>
{% endblock more_links %}